<div class="row">
  <div class="col-12">
    <p class="sb-heading-1">Site currently under construction</p>
  </div>
  <div class="col-12 col-md" style="padding-bottom: 1.5rem;">
    <img class="img-fluid" src="assets/yoga-pray.jpg" alt="Elizabeth Muise" />
  </div>
  <div class="col-12 col-md">
    <section>
      <h2>Biography</h2>
      <p>Elizabeth Muise is a professional bellydancer, yoga instructor, and artist. Currently, she is dancing and making music with Boom Boom Shake, teaching online movement classes and making art! Elizabeth has travelled the east coast extensively sharing the stage with many brilliant musicians and dancers performing and teaching at various festivals and venues. She has shared the stage with Cu Dubh, Raquy and the Cavemen, Liron Peled, This Way to the Egress and Frenchy and the Punk (formerly the Gypsy Nomads.) Elizabeth has been featured in the Gypsy Nomads Live at Bube’s Brewery DVD as well as Cu Dubh’s Woden’s Hunt DVD. In 2014 she had the pleasure of performing on live television on the ABC/Disney Fusion channel for "Fusion Live," Telemundo's "Buenos Dias Miami," and the CBS evening news.</p>
    </section>
  </div>
</div>
