<footer class="footer row align-items-center">
  <div class="footer__links col-12 col-sm">
    <ul>
      <li><a href="http://www.boomboomshake.com/">Boom Boom Shake</a></li>
    </ul>
  </div>
  <div class="footer__social col-12 col-sm-auto">
    <ul>
      <li><a href="mailto:redmuise@hotmail.com">
        <span class="sr-only">Email</span>
        <fa-icon
          [icon]="faEnvelope"
          title="Email"
        ></fa-icon>
      </a></li>
      <li><a href="https://www.facebook.com/pages/Elizabeth-Muise-Fan-Page/247610172174">
        <span class="sr-only">Facebook</span>
        <fa-icon
          [icon]="faFacebookSquare"
          title="Facebook"
        ></fa-icon>
      </a></li>
      <li><a href="https://www.instagram.com/elizabethmuise/">
        <span class="sr-only">Instagram</span>
        <fa-icon
          [icon]="faInstagramSquare"
          title="Facebook"
        ></fa-icon>
      </a></li>
    </ul>
  </div>
</footer>
